<table>
<td><img src="images/yile.jpg" alt="Yile Wang's photo" height="180px"></td>
<td>
  <div>
    <h1>Yile Wang (<font size="5"; font style="font-family:KaiTi">王祎乐</font>)</h1>
    <br/><br/>
    <!-- <h4>Postdoc</h4> -->
    <a href="https://air.tsinghua.edu.cn/">Institute for AI Industry Research (AIR)</a>,<br/>
    <a href="https://www.tsinghua.edu.cn/">Tsinghua University</a>, China</br>
    <b>Email</b>: wangyile AT air.tsinghua.edu.cn
  </div>
</td>
</table>

<p>Yile Wang is currently a postdoc at Institute for AI Industry Research (AIR), Tsinghua University, working with Prof. <a href="https://nlp.csai.tsinghua.edu.cn/~ly/" target="_blank">Yang Liu</a>. He received his Ph.D. degree in Computer Science from Zhejiang University (Sep. 2018 ~ Mar. 2022), advised by Prof. <a href="https://frcchang.github.io/index.html" target="_blank">Yue Zhang</a>. Before that, he received his B.S. and M.S. degree from Zhejiang University and also worked at Huawei Technologies Co., Ltd. His research interests include artificial intelligence, natural language processing and large language models.</p>
<hr>