<table>
<td><img src="images/yile.jpg" alt="Yile Wang's photo" height="175px"></td>
<td>
  <div>
    <h1>Yile Wang <font size="5"; font style="font-family:KaiTi">(王祎乐)</font></h1>
    <br/>
    <a href="https://air.tsinghua.edu.cn/"  target="_blank">Institute for AI Industry Research (AIR)</a>,<br/>
    <a href="https://www.tsinghua.edu.cn/"  target="_blank">Tsinghua University</a>, China</br>
    </br>
    <b>Email</b>: wangyile AT air.tsinghua.edu.cn
  </div>
</td>
</table>

<p>Yile Wang is currently a postdoc at Institute for AI Industry Research (AIR), Tsinghua University, working with Prof. <a href="https://nlp.csai.tsinghua.edu.cn/~ly/" target="_blank">Yang Liu</a>. He received his Ph.D. degree in Computer Science from Zhejiang University (2018~2022), advised by Prof. <a href="https://frcchang.github.io/index.html" target="_blank">Yue Zhang</a>. Before that, he received his B.S./M.S. degree from Zhejiang University and also worked at Huawei Technologies Co., Ltd. His primarily research interests include artificial intelligence, natural language processing and large language models.</p>

<p>I will join the <a href="https://csse.szu.edu.cn/" target="_blank">College of Computer Science and Software Engineering at Shenzhen University</a> as an Assistant Professor in August 2024. Students interested in AI, NLP, and LLMs are welcome to contact me!</p>

<p><b style="color:rgb(255, 34, 0);">我将于2024年8月加入深圳大学计算机与软件学院担任助理教授。欢迎对人工智能、自然语言处理、大语言模型感兴趣的同学与我联系!</b></p>
<hr>